<div>
  <div class="container max-width padding-bottom-40">
    <div class="row padding-top-40 ">
      <div class="col-xs-12">
        <p>Outre Ies multiples randonnées à plat ou en montagne, de quelques heures ou quelques jours, des murs d'escalade en pleine nature... :</p>
      </div>
    </div>
  </div>
</div>



<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div>
  <div class="container max-width padding-bottom-40">
    <div class="row padding-top-20 ">
      <div class="col-xs-12">
        <h1 class="text-center">SE BAIGNER </h1>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <ul>
              <li>
                Montbel - guiguette pour manger une glace ou un comet de frites, boire une bière ; faire du pédalo ou du canoé
              </li>
              <li>
                Montdély
              </li>
              <li>
                Marcus
              </li>
              <li>
                Tour du lac de Filheit - lac réservé à la péche - mas d'asile
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div>
  <div class="container max-width">
    <div class="row padding-top-20 padding-bottom-40">
      <div class="col-xs-12">
        <h1 class="text-center">SE BALLADER DANS LES CHÂTEAUX CATHAR (OU PAS) </h1>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <ul>
              <li>
                Château de Montségur
              </li>
              <li>
                Château de Puivert (animations et petit lac)
              </li>
              <li>
                Château de roquefixade
              </li>
              <li>
                Château de Lagarde (un peu plus loin)
              </li>
              <li>
              Château de Foix
              </li>
              <li>
                Lordat : château aux aigles
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>


<div>
  <div class="container max-width">
    <div class="row padding-top-20 padding-bottom-40">
      <div class="col-xs-12">
        <h1 class="text-center">SPORT </h1>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <ul>
               <p><strong>Escalade</strong></p>
                <li>
                  au château de roquefixade
                </li>
                <li>
                  au château de Carla de roquefort
                </li>
                <li>
                  au roc des abeilles - Fioquetort Ies cascades
                </li>
            </ul>
            <ul>
                <p><strong>Kitesurf et wakeboard à la base nautique de Marcus</strong></p>
            </ul>
            <ul>
                <p><strong>Canyoning</strong></p>
                <li>
                  Canyon de |’Argensou (Vicdessos)
                </li>
                <li>
                  Canyon de I’Escales à Siguer
                </li>
                <li>
                  Canyon de Marc et de I'Artigue, Cascades de Subra à Auzat
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div>
  <div class="container max-width">
    <div class="row padding-top-20 padding-bottom-40">
      <div class="col-xs-12">
        <h1 class="text-center">GROTTES </h1>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <ul>
              <li>
                Grotte du mas d'asiIe
              </li>
              <li>
                Grotte de Niaux (art rupestre et contemporain)
              </li>
              <li>
                Grotte de lombrive
              </li>
              <li>
                Riviera souterraine de labouiche, en petit bâteau
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div>
  <div class="container max-width">
    <div class="row padding-top-20 padding-bottom-40">
      <div class="col-xs-12">
        <h1 class="text-center">VISITES </h1>
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <ul>
              <li>
                Forges de Pereyres
              </li>
              <li>
                Parc de la préhistoire - Tarascon
              </li>
              <li>
                Cité mediévale de Carcasonne
              </li>
              <li>
                Parc des Ioup Orlu
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





