
<div class="bg-fond">

  <div class="container max-width">

    <div class="row padding-top-20 padding-bottom-20">

      <div class="col-xs-12">

        <div class="top1">
          <div class="countdown banner-content border-total text-center">
            <div class="row">
              <h1 class="padding-10"> Oluwayomi & Benoit </h1>
              <h1 class="padding-10"> se marient ! </h1>
              <h1 class="padding-10"> Samedi 27 août 2016 à 16 heures, à Sarnac </h1>
            </div>
            <div class="row">
              <div class="padding-20">
                <div id="clock" style="height:200px;"></div>
              </div>
            </div>
               <!-- data-percent="100" -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>

  <div class="container max-width">

    <div class="row">
      <div class="col-xs-12">
        <div class="padding-top-20 padding-bottom-20">
          <h1 class="text-center "> Les futurs mariés </h1>
        </div>
      </div>
    </div>

    <div class="row padding-top-20 padding-bottom-20">
      <div class="col-xs-12 col-md-5">
        <div class=" bg-height-500 text-center">
          <div class="bg-height-250">
            <div class="avatar avatar-bordered">
              <div class="avatar-background" style="background-image: url(<%= image_path 'yomi.jpg' %>)"></div>
            </div>
          </div>
          <div class="padding-top-20 padding-bottom-20">
            <h3> Oluwayomi Marie FAFOWORA </h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-2 text-center">
        <span class="hex-icon-heart">
          <svg style="height:70px; width:70px;">
            <path d="M0,19 C0,44 35,50.875 35,59 L35,19 C35,-6 0,-6 0,19 L0,19 Z M35,19 L35,59 C35,50.875 70,44 70,19 C70,-6 35,-6 35,19 L35,19 Z" id="Shape"></path>
          </svg>
        </span>
      </div>
       <!--  <i class="fa fa-heart fa-4x"></i> -->
      <div class="col-xs-12 col-md-5">
        <div class=" bg-height-500 text-center">
          <div class="bg-height-250">
            <div class="avatar avatar-bordered">
              <div class="avatar-background" style="background-image: url(<%= image_path 'benoit.jpg' %>)"></div>
            </div>
          </div>
          <div class="padding-top-20 padding-bottom-20">
            <h3> Benoit DE LOMBARDON </h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="container  max-width">

  <div class="row">
    <div class="col-xs-12">
      <div class="padding-top-20 padding-bottom-20">
        <h1 class="text-center"> Le programme </h1>
      </div>
    </div>
<!--     <div class="col-xs-12 col-md-6">
      <p> On les aime </p>
    </div> -->
  </div>

    <div class="row padding-top-20 padding-bottom-20">
    <div class="col-xs-12 col-md-3">
      <div class=" bg-height-400 text-center">
        <div class="bg-height-250">
          <div class="avatar avatar-bordered">
            <div class="avatar-background" style="background-image: url(<%= image_path 'sarnac1.jpg' %>)"></div>
          </div>
        </div>
        <h3> 16h </h3>
        <p>Cérémonie humaniste, à Sarnac</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="bg-height-400 text-center">
        <div class="bg-height-250">
          <div class="avatar avatar-bordered">
            <div class="avatar-background" style="background-image: url(<%= image_path 'sarnac2.jpg' %>)"></div>
          </div>
        </div>
        <h3> 17h </h3>
        <p>Cocktail, à Sarnac</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="bg-height-400 text-center">
        <div class="bg-height-250">
          <div class="avatar avatar-bordered">
            <div class="avatar-background" style="background-image: url(<%= image_path 'sarnac3.jpg' %>)"></div>
          </div>
        </div>
        <h3> 20h </h3>
        <p> Dîner, à Sarnac, suivi d'une soirée dansante</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="bg-height-400 text-center">
        <div class="bg-height-250">
          <div class="avatar avatar-bordered">
            <div class="avatar-background" style="background-image: url(<%= image_path 'sarnac4.jpg' %>)"></div>
          </div>
        </div>
        <h3> 12h - dimanche </h3>
        <p> Brunch, au jardin extraordinaire à Lieurac </p>
      </div>
    </div>
  </div>

</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="container">

  <div class="row">

    <div class="col-xs-12 text-center">
      <h1> RSVP avant le 27 juin 2016 </h1>
      <p> Serez-vous parmis nous ? Nous l'espérons ! </p>

    </div>

    <div class="col-xs-12 col-md-8 col-md-offset-2">
          <%= simple_form_for(@rsvp) do |f| %>
            <%= f.error_notification %>
            <%= f.input :mail, label: false, placeholder: 'Votre email' %>
            <%= f.input :prenom, label: false, placeholder: 'Votre prénom' %>
            <%= f.input :nom, label: false, placeholder: 'Votre nom' %>
            <%= f.input :nbpers, label: false, placeholder: 'Combien serez-vous ?' %>
            <%= f.input :oui, label: 'En cochant la case, vous confirmez que vous serez présents !' %>
            <%= f.input :commentaire, label: false, placeholder: 'Votre message' %>
            <%= f.button :submit, 'Valider' %>
          <% end %>

      <!--End mc_embed_signup-->
    </div>
  </div>

   <div class="row padding-top-20 padding-bottom-20">
    <div class= "col-xs-12">
      <p class = "text-center"> Si vous avez des questions, n'hésitez pas à nous envoyer un mail sur <a class="font-green" href="mailto:benetyomi@gmail.com" target="_top">benetyomi@gmail.com</a>  </p>
    </div>
  </div>

</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>


<div class='container max-width'>

  <div class="row">
    <div class= "col-xs-12">
      <h1 class = "text-center"> Quelques photos en attendant celles du mariage ! </h1>
    </div>
  </div>

  <div class="row padding-top-20 padding-bottom-20">
    <% @photos.each do |photo| %>
      <div class= "col-xs-12 col-md-6">
        <div class="card" style="background-color: white">
          <a href=<%= image_path photo %> data-lightbox="roadtrip" title="Nos jours heureux">
            <img src=<%= image_path photo %> alt="image" class="img-thumbnail">
          </a>
        </div>
      </div>
    <% end %>
  </div>

</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class='container max-width'>

  <div class="row padding-top-20 padding-bottom-20 ">
    <div class= "col-xs-12">
      <h3 class = "text-center"> Nous vous attendons avec impatience le 27 aout 2016 !</h3>
    </div>
  </div>

  <div class="row padding-bottom-20">
    <div class= "col-xs-12 text-center font-pink">
     <i class="fa fa-heart fa-5x"></i>
    </div>
  </div>

</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    $('#clock').countdown('2016/08/27', function(event) {
      var $this = $(this).html(event.strftime(''
      + '<span>%w</span> weeks '
      + '<span>%d</span> days '
      + '<span>%H</span> hr '
      + '<span>%M</span> min '
      + '<span>%S</span> sec'));
      });

      <% end %>

  <%= javascript_tag do %>

    $(function animateHeart() {
      $('.heart span').animate({
          fontSize: $('.heart span').css('fontSize') == '75px' ? '50px' : '75px'
      }, 500, animateHeart);
    });
  <% end %>

  <%= javascript_tag do %>
    $(function( $ ) {
        $( '.swipebox' ).swipebox();
    } )
  <% end %>

<% end %>


