
<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="container max-width">
  <div class="row padding-top-20 padding-bottom-20">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h1 class="text-center padding-top-20 padding-bottom-20">Rendez-vous à Sarnac le samedi à 16h </h1>
       <%= link_to("https://www.google.fr/maps/place/Sarnac,+09120/@42.9833183,1.7463246,16z/data=!4m5!3m4!1s0x12af0f345995451b:0x1a732bff1ef09cc1!8m2!3d42.983586!4d1.751217", html_options = { target: :_blank}) do %>
        <div class="text-center">
       <%= image_tag("sarnac.jpg", class: "img-responsive img-thumbnail img-rounded")%>
        </div>
       <%end%>
      <div class="padding-top-20 padding-bottom-20 text-center">
         <p> La journée du samedi se déroulera à Sarnac. Le début de la cérémonie sera à 16h, suivi d'un cocktail à 17h. Puis le diner commencera à 20h et se poursuivra par la soirée dansante. </p>
      </div>
    </div>
  </div>
  <div class="row padding-top-20 padding-bottom-20">
    <div id="map"></div>
  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="bg-pink">
  <div class="container max-width">
    <div class="row padding-top-20 padding-bottom-20 text-center">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1 class="text-center padding-top-20 padding-bottom-20 text-white"> Rendez-vous le dimanche à partir de midi au jardin extraordinaire </h1>
         <%= link_to("https://www.google.fr/maps/place/Gouziaud,+09300+Lieurac/@42.986849,1.7842766,16z/data=!4m5!3m4!1s0x12af088ca1ee7e1f:0x2652d1c7e2d6dd37!8m2!3d42.986849!4d1.788654", html_options = { target: :_blank}) do %>
        <%= image_tag("sarnac.jpg", class: "img-responsive img-thumbnail img-rounded")%>
        <%end%>
      </div>
    </div>
  <div class="row padding-top-20 padding-bottom-20">
    <div id="map2"></div>
  </div>
  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>


<%= content_for(:after_js) do %>
  <%= javascript_tag do %>

      $(document).on('ready', function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers([
              { "lat": 42.9833183, "lng": 1.7463246 }
            ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })

      $(document).on('ready', function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map2' } }, function(){
          markers = handler.addMarkers([
              { "lat": 42.986849, "lng": 1.7842766 }
            ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      })
  <% end %>
<% end %>


